* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
body {
  background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
  height: 100vh;
 
}
p{
  font-size: 30px;
  font-weight: 900;
  margin: 30px 17%;
}
.container{
  background-image: linear-gradient( to bottom left, rgba(79,51,176,1.0),rgba(210,53,165));
  height: 450px;
  position: absolute ;
  width: 80%;
  margin: 0 10%;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 0.3);
  border-radius: 10px;
}
.container table {
  width: 80%;
  height: 300px;
  position: absolute;
  bottom: 10px;
  margin: 0 10%;
  padding:10px;
}
td, input {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  background: white;
  border-radius: 50%;
}
.equal {
  background-color: orange;
}
.dis{
  width: 80%;
  margin:30px 10%;
  height: 100px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 25px;
  text-align: left;
}
.delete, .button,.equal{
  width: 100%;
  height:100%;
}
input{
  border: none;
  outline :none;
}
.delete,.qual{
  background-color: orange;
}
.equal{
  border-radius: 30px;
  border: 1px solid black;
}
.ll{
  border:none;
  border-radius: 30px;
}

.zero{
  border-radius: 30px;
}
